@import "tailwindcss";

@layer base {
  :root {
    --scrollbar-width: 6px;
  }

  * {
    box-sizing: border-box;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
}
